.totalPrice {
    margin: 1rem;
    font-family: var(--font-title);
    color: var(--color-gold);
    font-size: 3rem;
}

.summaryRow{
    font-family: var(--font-title);
    color: var(--color-gold);
    font-size: 1.5rem;
    margin: 1rem;
}

.paymentButton {
    background: transparent;
    color: var(--color-gold);
    border: 1px solid var(--color-gold);
    border-radius: 4px;
    font-family: var(--font-body);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0.7rem 1rem;
    margin-top: 0.7rem;
}

.paymentButton:hover {
    background: linear-gradient(135deg,
            var(--color-gold-light),
            var(--color-gold));

    color: var(--color-cream);
}

.paymentButton:disabled,
.paymentButton:disabled:hover{
    background:unset;
    background-color:grey;
    color: var(--color-gold);
    cursor:default;
    opacity:0.5;
}

.text-cream{
    color: var(--color-text) !important;
}

input.formInput {
 position: relative !important;
  width: 100% !important;
  outline: none !important;
  background: transparent !important;
  border: 1px solid var(--color-border);
  padding: 0.7rem 1.5rem !important;
  border-radius: 4px !important;
  font-family: var(--font-body) !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  letter-spacing: 2px !important;
  cursor: pointer !important;
  transition: var(--transition) !important;
  margin-bottom:10px !important;
  z-index: 101 !important;   
}

.form-control.is-valid{
    border-color:var(--bs-form-valid-border-color) !important;
}

.text-cream-title{
    color: var(--color-text) !important;
    font-size: 1.5rem !important;
}
.text-red{
    color:rgba(255, 0, 0, 0.568) !important;
}
