:root {
  /* COLORI */

  --color-bg: #17120f;
  --color-bg-light: #221a14;
  --color-bg-card: #2a211b;

  --color-gold: #c89b3c;
  --color-gold-light: #e0bb68;
  --color-gold-dark: #8f6926;

  --color-cream: #f3ecd7;
  --color-text: #e9e3d5;
  --color-text-muted: #a6957f;

  --color-border: rgba(200, 155, 60, 0.25);

  /* GRADIENTS */

  --gradient-main: linear-gradient(
    90deg,
    #090807 0%,
    #1a120c 50%,
    #090807 100%
  );
  /* FONTS*/

  --font-title: "Cormorant Garamond", serif;
  --font-body: "Inter", sans-serif;

  /*CORNICE*/
  --section-padding: 4rem;
  --section-gap: 2rem;

  --section-background: rgba(34, 26, 20, 0.75);

  /* EFFETTI */

  --shadow-gold: 0 0 25px rgba(200, 155, 60, 0.15);

  --transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-color:var(--color-gold-dark) var(--color-bg);
}

html,
body {
  width: 100%;
  min-height: 100%;
  background-color: var(--color-bg);
  background: var(--gradient-main);
  color: var(--color-text);
  font-family: var(--font-body);
  line-height: 1.6;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.section-dark {
  background: var(--color-bg);
}

.section-gold {
  background: var(--gradient-main);
}

.section-light {
  background: var(--color-cream);
}

.section-frame {
  position: relative;
  padding: var(--section-padding);
  border: 2px solid var(--color-border);
  background: var(--section-background);
  overflow-y: auto;
  clip-path: inset(0);
  z-index: 10;
}

.section-frame::before {
  content: "";
  position: absolute;
  inset: 12px;
  border: 1px solid rgba(200, 155, 60, 0.12);
  pointer-events: none;
}

select option:enabled:hover {
  background-color: var(--color-bg-light) !important;
  color: var(--color-text) !important;
}

select {
  appearance: none; /* Removes native OS styling */
  background-color: var(--color-bg);
  color: var(--color-text);
  padding: 10px;
}

.form-control:focus{
  border-color: var(--color-gold) !important;
  box-shadow: none !important;
}

.dropdown-menu.show{
  width:100% !important;
  top:100% !important;
  transform: translate(0,0)!important;
  background-color: var(--color-bg) !important;
  border-color: var(--color-gold-dark) !important;
  z-index: 9999;
}

@media screen and (min-width: 1600px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1600px;
  }
}
